<div class="header">
    <div class="logo">
        <img src="images/logo.png">
    </div>
    <div class="menu">
        <ul>
            <li class="menuItem"><a href="/#/">Home</a></li>
            <li class="menuItem" ng-show="authenticated"><a href="/#newGallery">Create Gallery</a></li>
            <li class="menuItem" ng-show="authenticated"><a ng-click="signout()" style="cursor:pointer">Signout</a></li>
            <li class="menuItem" style="color:#1e75ba" ng-show="authenticated"><a>{{ current_user_name }}</a></li>
            <li ng-hide="authenticated"><a href="/#login"><button id="signin">Login</button></a></li>
            <li ng-hide="authenticated"><a href="/#signup"><button id="signup">Signup</button></a></li>
        </ul>
    </div>
</div>
<div class="newGallery">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Create New Gallery</h3>
            <form ng-submit="createGallery()">
                <div class="form-group">
                    <label>Gallery Name</label>
                    <input type="text" class="form-control" ng-model="galleryName">
                </div>
                <button type="submit" class="btn btn-default">Create Gallery</button>
            </form>
        </div>
    </div>
</div>